# Homebrew
{{- if eq .chezmoi.os "darwin" }}
/opt/homebrew/bin/brew shellenv | source
{{- else if eq .chezmoi.os "linux" }}
/home/linuxbrew/.linuxbrew/bin/brew shellenv | source
{{- end }}

if status is-interactive
    # Vim 键位
    set -g fish_key_bindings fish_hybrid_key_bindings

    # prompt
    starship init fish | source

    # iTerm2 integration
    test -e ~/.iterm2_shell_integration.fish; and source ~/.iterm2_shell_integration.fish
    set -gx ITERM_ENABLE_SHELL_INTEGRATION_WITH_TMUX YES
end
